# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Astro
.astro/
dist/

# Vite
vite.config.ts.timestamp*
vite.config.mjs.timestamp*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
.env.*
